p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: "Poppins", sans-serif;
}

main {
  position: relative;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  main {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  main {
    max-width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  main {
    padding-left: 0;
    padding-right: 0;
    max-width: 1440px;
  }
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

:root {
  --heading-text-color: #000000;
  --primary-text-color: #292d32;
  --primary-bg-color: #fafbff;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.no-scroll {
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  padding: 12px 15px 5vh;
  background-color: #ffffff;
  box-shadow: 0 10px 60px 0 rgba(226, 236, 249, 0.5);
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .menu {
    width: 350px;
    padding: 36px 28px 76px;
  }
}
@media screen and (min-width: 1440px) {
  .menu {
    width: 306px;
    left: auto;
  }
}

.desktop-menu {
  display: none;
}
@media screen and (min-width: 1440px) {
  .desktop-menu {
    display: flex;
  }
}

@media screen and (min-width: 1440px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu__btn-close {
  position: absolute;
  top: 11px;
  right: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .mobile-menu__btn-close {
    display: none;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-bottom: 53px;
}

.logo__icon {
  width: 24px;
  height: 24px;
  fill: var(--heading-text-color);
  margin-right: 8px;
}

.logo__name {
  font-size: 18px;
  font-weight: 600;
  color: var(--heading-text-color);
}

.logo__version {
  font-size: 8px;
  font-weight: 500;
  color: #838383;
}

@media screen and (min-width: 768px) {
  .logo__icon {
    width: 30px;
    height: 30px;
    margin-right: 8px;
  }
  .logo__name {
    font-size: 22px;
  }
  .logo__version {
    font-size: 9px;
  }
}
@media screen and (min-width: 1440px) {
  .logo__icon {
    width: 37px;
    height: 37px;
  }
  .logo__name {
    font-size: 26px;
  }
  .logo__version {
    font-size: 10px;
  }
}
.navigation {
  width: 100%;
}

.navigation__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.navigation__item {
  width: 100%;
}
.navigation__item:not(:last-child) {
  margin-bottom: 18px;
}

.navigation__link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  font-weight: 500;
  color: #9197b3;
  padding: 11px 8px 11px 11px;
  border-radius: 8px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link.current {
  background-color: #5932ea;
  color: #ffffff;
}

.navigation__icon {
  width: 24px;
  height: 24px;
  margin-right: 14px;
}
.navigation__icon.navigation__icon--right {
  width: 16px;
  height: 16px;
  margin-right: 0;
  margin-left: auto;
}

.user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: auto auto 0;
}

.user__img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 12px;
}

.user__name {
  font-size: 14px;
  font-weight: 500;
  color: var(--heading-text-color);
}

.user__profession {
  font-size: 12px;
  font-weight: 400;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .user {
    margin: auto 0 0 0;
  }
}
.customers {
  margin-left: 0;
  padding: 20px 0;
}
@media screen and (min-width: 768px) {
  .customers {
    margin-left: 0;
    padding: 30px 0;
  }
}
@media screen and (min-width: 1440px) {
  .customers {
    margin-left: 377px;
    padding: 41px 0 258px;
  }
}

.customers__heading {
  font-weight: 500;
  line-height: auto;
  font-size: 18px;
  margin: 0 0 20px;
}
@media screen and (min-width: 768px) {
  .customers__heading {
    font-size: 20px;
    margin: 0 0 30px;
  }
}
@media screen and (min-width: 1440px) {
  .customers__heading {
    font-size: 24px;
    margin: 0 0 51px;
  }
}

.customers__container {
  background-color: #ffffff;
  box-shadow: 0 10px 60px 0 rgba(226, 236, 249, 0.5);
  border-radius: 10px;
  padding: 15px 0;
}
@media screen and (min-width: 768px) {
  .customers__container {
    border-radius: 20px;
    padding: 20px 0;
  }
}
@media screen and (min-width: 1440px) {
  .customers__container {
    width: 968px;
    border-radius: 30px;
    padding: 30px 0 40px;
  }
}

.customers__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 15px 20px;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .customers__header {
    padding: 0 20px 30px;
    flex-direction: row;
    align-items: flex-end;
  }
}
@media screen and (min-width: 1440px) {
  .customers__header {
    padding: 0 53px 40px 38px;
  }
}

.customers__header-left {
  display: flex;
  flex-direction: column;
}

.customers__title {
  font-weight: 600;
  line-height: auto;
  margin-bottom: 7px;
  color: #000000;
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .customers__title {
    font-size: 18px;
  }
}
@media screen and (min-width: 1440px) {
  .customers__title {
    font-size: 22px;
  }
}

.customers__subtitle {
  font-weight: 400;
  line-height: auto;
  color: #16c098;
  font-size: 11px;
}
@media screen and (min-width: 768px) {
  .customers__subtitle {
    font-size: 12px;
  }
}
@media screen and (min-width: 1440px) {
  .customers__subtitle {
    font-size: 14px;
  }
}

.customers__search {
  position: relative;
  margin-top: 15px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .customers__search {
    margin-top: 0;
    width: fit-content;
  }
}

.customers__search-input {
  outline: none;
  border: none;
  height: 38px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 400;
  line-height: auto;
  padding: 10px 15px 10px 40px;
  background-color: #f9fbff;
  width: 100%;
}
@media screen and (min-width: 1440px) {
  .customers__search-input {
    width: 216px;
  }
}
.customers__search-input::placeholder {
  color: #b5b7c0;
}

.customers__search-icon {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
}

.customers__table {
  width: 100%;
  overflow-x: auto;
  border-collapse: collapse;
  border-spacing: 0 10px;
}
@media (max-width: 767px) {
  .customers__table {
    display: block;
  }
  .customers__table thead {
    display: none;
  }
  .customers__table tbody {
    display: block;
  }
  .customers__table tr {
    display: block;
    width: 95%;
    margin: 0 auto 5px;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    padding: 0 10px;
  }
  .customers__table td {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    border-bottom: none;
  }
  .customers__table td:not(:last-child) {
    border-bottom: 1px solid #eeeeee;
  }
  .customers__table td::before {
    content: attr(data-label);
    font-weight: 600;
    margin-right: 10px;
  }
}
@media screen and (min-width: 768px) {
  .customers__table {
    display: table;
  }
  .customers__table th,
  .customers__table td {
    border-bottom: 1px solid #eeeeee;
  }
}
.customers__table th {
  text-align: left;
  font-weight: 500;
  line-height: auto;
  color: #b5b7c0;
  font-size: 10px;
  padding: 0 5px 8px;
}
@media screen and (min-width: 768px) {
  .customers__table th {
    font-size: 12px;
    padding: 0 5px 10px;
  }
}
@media screen and (min-width: 1440px) {
  .customers__table th {
    font-size: 14px;
    padding: 0 10px 14px;
  }
}
.customers__table td {
  font-weight: 500;
  line-height: auto;
  color: #292d32;
  background-color: #ffffff;
  text-align: left;
  font-size: 10px;
  padding: 12px 5px;
}
@media screen and (min-width: 768px) {
  .customers__table td {
    font-size: 12px;
    padding: 15px 5px;
  }
}
@media screen and (min-width: 1440px) {
  .customers__table td {
    font-size: 14px;
    padding: 20px 10px;
  }
}
@media screen and (min-width: 768px) {
  .customers__table th:first-child,
  .customers__table td:first-child {
    padding-left: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .customers__table th:first-child,
  .customers__table td:first-child {
    padding-left: 38px;
  }
}
@media screen and (min-width: 768px) {
  .customers__table th:last-child,
  .customers__table td:last-child {
    padding-right: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .customers__table th:last-child,
  .customers__table td:last-child {
    padding-right: 22px;
  }
}
.customers__table .status {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-weight: 500;
  line-height: auto;
  border-radius: 4px;
  font-size: 10px;
  width: 60px;
  height: 22px;
}
@media screen and (min-width: 768px) {
  .customers__table .status {
    font-size: 12px;
    width: 70px;
    height: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .customers__table .status {
    font-size: 14px;
    width: 80px;
    height: 29px;
  }
}

.status--active {
  border: 1px solid #00b087;
  background-color: rgba(22, 192, 152, 0.38);
  color: #008767;
}

.status--inactive {
  border: 1px solid #df0404;
  background-color: #ffc5c5;
  color: #df0404;
}

.customers__pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px 0;
  flex-direction: column;
  gap: 15px;
}
@media screen and (min-width: 768px) {
  .customers__pagination {
    padding: 20px 20px 0;
    flex-direction: row;
    gap: 0;
  }
}
@media screen and (min-width: 1440px) {
  .customers__pagination {
    padding: 30px 40px 0 38px;
  }
}

.customers__pagination-info {
  font-weight: 500;
  line-height: auto;
  color: #b5b7c0;
  font-size: 11px;
}
@media screen and (min-width: 768px) {
  .customers__pagination-info {
    font-size: 12px;
  }
}
@media screen and (min-width: 1440px) {
  .customers__pagination-info {
    font-size: 14px;
  }
}

.customers__pagination-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
@media screen and (min-width: 768px) {
  .customers__pagination-controls {
    gap: 8px;
  }
}
@media screen and (min-width: 1440px) {
  .customers__pagination-controls {
    gap: 12px;
  }
}

.pagination-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  line-height: auto;
  color: #404b52;
  background-color: #f5f5f5;
  border: 1px solid #eeeeee;
  cursor: pointer;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 20px;
  height: 20px;
  font-size: 9px;
}
@media screen and (min-width: 768px) {
  .pagination-btn {
    width: 22px;
    height: 22px;
    font-size: 10px;
  }
}
@media screen and (min-width: 1440px) {
  .pagination-btn {
    width: 25px;
    height: 24px;
    font-size: 12px;
  }
}
.pagination-btn:hover, .pagination-btn.active {
  background-color: #5932ea;
  border-color: #5932ea;
  color: #ffffff;
}

.pagination-btn--dots {
  background-color: transparent;
  border: none;
}
.pagination-btn--dots:hover {
  background-color: inherit;
  border-color: inherit;
  color: inherit;
}

.header {
  padding: 10px 0;
  border-radius: 0 0 20px 20px;
  background-color: #ffffff;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 15px 0;
    border-radius: 0 0 20px 20px;
  }
}
@media screen and (min-width: 1440px) {
  .header {
    display: none;
  }
}

.header__menu-icon {
  fill: var(--heading-text-color);
}

.header__menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 4px;
}/*# sourceMappingURL=main.css.map */